<html>
  <style>
    h1 {
      text-align: center;
    }
    p {
      text-align: left;
    }
    div {
      text-align: center;
    }
    p {
      word-spacing: 3px;
    }
  </style>
  <header>
    UNIT 2 ARRAYS
  </header>

  <h1 style="font-family:verdana;color:rgb(25, 0, 255)">
    All The labs in Unit 1
  </h1>
  <form>
    <input type="button" value="Go back!" onclick="history.back()" />
  </form>
  <h1>
    <p><a href="./Functions">Functions </a>.</p>
  </h1>
  <h1>
    <p><a href="./aas">arrays and strings </a>.</p>
  </h1>
  <h1>
    <p><a href="./cli ">command line interaction  </a>.</p>
  </h1>
  <h1>
    <p><a href="./ecodes">exit Codes </a>.</p>
  </h1>
<h1>
    <p><a href="./tcast">type casting </a>.</p>
  </h1>
  <h1>
    <p><a href="./bug">bugs & Debugging </a>.</p>
  </h1>
  <style>
    body {
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF19QOlDOQ-HwopCrTyffVTcU0_oMHM1Xwng&usqp=CAU);
    }
  </style>
</html>
