<html>
  <style>
    h1 {
      text-align: center;
    }
    p {
      text-align: left;
    }
    div {
      text-align: center;
    }
    p {
      word-spacing: 3px;
    }
  </style>
  <header>
    UNIT 1 C
  </header>

  <h1 style="font-family:verdana;color:rgb(25, 0, 255)">
   All The labs in Unit 1 
  </h1>
  <form>
    <input type="button" value="Go back!" onclick="history.back()" />
  </form>
  <h1>
    <p><a href="./syntax">syntax </a>.</p>
  </h1>
  <h1>
    <p><a href="./varubles">Varuables </a>.</p>
  </h1>
  <h1>
    <p><a href="./datatypes ">data types </a>.</p>
  </h1>
  <h1>
    <p><a href="./printfp">printf placeholders </a>.</p>
  </h1>
  <h1>
    <p><a href="./Op">operators</a>.</p>
  </h1>
  <h1>
    <p><a href="./blool">boolean Expressions & conditionals</a>.</p>
  </h1>
  <h1>
    <p><a href="./wloop"> while loops </a>.</p>
  </h1>
  <h1>
    <p><a href="./dwl">do while loops </a>.</p>
  </h1>
  <h1>
    <p><a href="./floop">for loops </a>.</p>
  </h1>
  <h1>
    <p><a href="./Mnum">magic numbers </a>.</p>
  </h1>
  <style>
        body {
          background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF19QOlDOQ-HwopCrTyffVTcU0_oMHM1Xwng&usqp=CAU);
        }
      </style>
  
  
  
  
  
</html>
