<html>
  <style>
    h1 {
      text-align: center;
    }
    p {
      text-align: left;
    }
    div {
      text-align: center;
    }
    p {
      word-spacing: 3px;
    }
  </style>
  <header>
    UNIT 3 ALGORITHUMS
  </header>

  <h1 style="font-family:verdana;color:rgb(25, 0, 255)">
    All The labs in Unit 3
  </h1>
  <form>
    <input type="button" value="Go back!" onclick="history.back()" />
  </form>
  <h1>
    <p><a href="./line">Liner Search </a>.</p>
  </h1>
  <h1>
    <p><a href="./bubble">bubble sort</a>.</p>
  </h1>
  <h1>
    <p><a href="./sort1 ">selection sort   </a>.</p>
  </h1>
  <h1>
    <p><a href="./sort2">inertion sort</a>.</p>
  </h1>
<h1>
    <p><a href="./bin">binary search </a>.</p>
  </h1>
  <h1>
    <p><a href="./mas">models and sumulations </a>.</p>
  </h1>
  <style>
    body {
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF19QOlDOQ-HwopCrTyffVTcU0_oMHM1Xwng&usqp=CAU);
    }
  </style>
</html>

